{% extends 'base.html' %}
{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if students|length < 1 %}
        <h4 style="text-align: center">There are no Students. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th>Student Name</th>
            <th>Course Name</th>
            <th>Phone</th>
            <th>Picture</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
            <tr>
                <td width="10%">{{ student.student_id }}</td>
                <td width="20%">{{ student.student_name }}</td>
                <td width="20%">{{ student.student_course }}</td>
                <td width="10%">{{ student.student_phone }}</td>
                <td width="20%">{{ student.student_picture }}</td>
                <td width="20%">
                    <a href="/delete/{{student.student_id}}">Delete</a>
                    &nbsp;
                    <a href="/update/{{student.student_id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <table>
        <tr>
            <div class="form">
                <form action="/" enctype="multipart/form-data" method="POST">
                    <label for="student_name">Student name: </label> <input type="text" id="student_name" name="student_name"><br><br>
                    <label for="student_course">Course name: </label> <input type="text" id="student_course" name="student_course"><br><br>
                    <label for="student_phone">Phone: </label> <input type="text" id="student_phone" name="student_phone"><br><br>
                    <label for="student_picture">Picture: </label> <input type="text" id="student_picture" name="student_picture"><br><br>
                    <label for="student_img">Image Upload</label> <input type="file" name="student_img"><br><br>
                    <button><a>Save</a></button>
                    <br>
                </form>
            </div>
        </tr>
    </table>
</div>
{% endblock %}